@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <!-- Hauptseite Bild -->
        <div>
            <img class="img-fluid"
                 src="~/images/mountainbike-in-nature.jpg"
                 alt="Bild von einem Mountainbike" />
            <!-- Image by Matthias Groeneveld: https://pixabay.com/users/matthias_groeneveld-4535957/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4122683 -->
            <!-- from Pixabay:                 https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4122683 -->
        </div>
    </div>
</div>



