@page
@model KBS_FunEvents_Web_2025.Views.Home.InformationModel

@{
	ViewData["Title"] = "Information";
}

<h1>Über uns</h1>

<hr />

<p>
	<h2>Firmengeschichte <br /></h2>
	Die FunEvents GmbH arbeitet seit ihrer Gründung vor drei Jahren durch Herbert Fringsen, einem bekannten Extremsportler, auf dem Dienstleistungsektor. Sie bietet diverse Veranstaltungen für sportbegeisterte Menschen an, die an Ihre Grenzen wollen.
</p>

<p>
	<h2>Der Geschäftsführer <br /></h2>
	Herbert Fringsen studierte Sportwissenschaften und machte Extremsportarten, wie Bungee-Jumping, Downhill-Climbing, Deep-Diving und Ähnliches, in Deutschland bekannt. Seit dem Ende seiner aktiven Karriere ist Herbert Fringsen als Kommentator im Privatfernsehen tätig. Er nutzt seine vielfältigen Kontakte in der Szene und seine medienwirksame Popularität, um für sportbegeisterte Mitmenschen eine Vermittlungsagentur für Extremsportarten aufzubauen. Abenteuerreisen stehen ebenfalls auf dem Programm.
</p>