@{
	ViewData["Title"] = "Kontakt";
}
 
<h1>Kontaktdaten</h1>
 
<hr />
 
<p>FunEvents GmbH <br />
	Am Fernsehturm 1 <br />
	94034 Passau</p>
 
<p>
<i class="bi bi-telephone"></i>Tel: <a href="tel: +4908511234567890">+49 0851 123456789 - 0</a> <br />
<i class="bi bi-envelope"></i>E-Mail: <a href="mailto:info@funevents.de">info@funevents.de</a>
</p>