@{
	ViewData["Title"] = "Kontakt";
}
 
<h1>Kontaktdaten</h1>
 
<hr />

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<p>
				FunEvents GmbH <br />
				Am Fernsehturm 1 <br />
				94034 Passau
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<p>
				<i class="bi bi-telephone"></i><strong>Tel: </strong><a href="tel: +4908511234567890">+49 0851 123456789 - 0</a><br/>
				<i class="bi bi-envelope"></i><strong>E-Mail: </strong><a href="mailto:info@funevents.de">info@funevents.de</a>
			</p>
		</div>
	</div>
</div>
