@using KBS_FunEvents_Web_2025.ViewModels
@model List<TblEvent>
@{
    ViewData["Title"] = "Events";
}

<h1>Aktuelle Events im Angebot</h1>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Eventbezeichnung</th>
                <th scope="col">Eventkategorie</th>
                <th scope="col">Veranstalter</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach(TblEvent tblEvent in Model)
            {
                <tr>
                    <td>@tblEvent.EtBezeichnung</td>
                    <td>@tblEvent.EkEvKategorie.EkKatBezeichnung</td>
                    <td>@tblEvent.EvEvVeranstalter.EvFirma</td>
                    <td><a asp-area="" asp-controller="Events" asp-action="Details" asp-route-eventId="@tblEvent.EtEventId">Details zum Eventbezeichnung</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
